@model GigHub.ViewModels.GigFormViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Add a Gig</h2>
@using (Html.BeginForm("Create", "Gigs"))
{
    @Html.AntiForgeryToken()
    <div class="mb-3">
        @Html.LabelFor(g => g.Venue, htmlAttributes: new { @class = "form-label" })
        @Html.EditorFor(g => g.Venue, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(g => g.Venue, "", new { @class = "text-danger" })
    </div>
    <div class="mb-3">
        @Html.LabelFor(g => g.Date, htmlAttributes: new { @class = "form-label" })
        @Html.EditorFor(g => g.Date, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(g => g.Date, "", new { @class = "text-danger" })
    </div>
    <div class="mb-3">
        @Html.LabelFor(g => g.Time, htmlAttributes: new { @class = "form-label" })
        @Html.EditorFor(g => g.Time, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(g => g.Time, "", new { @class = "text-danger" })
    </div>
    <div class="mb-3">
        @Html.LabelFor(g => g.Genre, htmlAttributes: new { @class = "form-label" })
        @Html.DropDownListFor(g => g.Genre, new SelectList(Model.Genres, "Id", "Name"), "", htmlAttributes: new { @class = "form-select" })
        @Html.ValidationMessageFor(g => g.Genre, "", new { @class = "text-danger" })
    </div>
    <button type="submit" class="btn btn-light border">Save</button>
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}