<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm">
        <div class="container">
            @Html.ActionLink("GigHub", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Add a Gig", "Create", "Gigs", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
                 @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; tarcisiorib - @DateTime.Now.Year</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/lib")
    @RenderSection("scripts", required: false)
    <script type="text/x-template" id="notifications-template">
        <ul class="notifications">
            <%
            _.each(notifications, function(notification) {
                if (notification.type == 3) { %>
                    <li><span class="highlight"><%= notification.gig.artist.name %></span> canceled the gig at <%= notification.gig.venue %> in <%= moment(notification.gig.date).format("D MMM HH:mm") %></li>
                <% }
                else if (notification.type == 2) {
                    var changes = [],
                        originalValues = [],
                        newValues = [];
                    
                    if (notification.originalVenue != notification.gig.venue) {
                        changes.push('venue');
                        originalValues.push(notification.originalVenue);
                        newValues.push(notification.gig.venue);
                    }
                    
                    if (notification.originalDateTime != notification.gig.date) {
                        changes.push('date/time');
                        originalValues.push(moment(notification.originalDateTime).format("D MMM HH:mm"));
                        newValues.push(moment(notification.gig.date).format("D MMM HH:mm"));
                    }
                %>
                    <li><span class="highlight"><%= notification.gig.artist.name %></span> has changed the <%= changes.join(' and ') %> of the gig from <% originalValues.join('/') %> to <%= newValues.join('/') %></li>
                <%
                }
            })
            %>
        </ul>
    </script>
    <script>
        $(document).ready(function () {
            $.getJSON("/api/notifications", function (notifications) {
                $(".js-notifications-count").text(notifications.length);
                if (notifications.length > 0) {
                    $(".js-notifications-count").removeClass("visually-hidden");
                }

                $(".notifications").popover({
                    html: true,
                    title: "Notifications",
                    content: function () {
                        var compiled = _.template($("#notifications-template").html());
                        return compiled({ notifications: notifications });
                    },
                    placement: "bottom",
                    template: '<div class="popover popover-notifications" role="tooltip"><div class="popover-arrow"></div><div class="popover-header"></div><div class="popover-body"></div></div>'
                }).on("shown.bs.popover", function () {
                    $.post("/api/notifications/markAsRead")
                        .done(function () {
                            $(".js-notifications-count")
                                .text("")
                                .addClass("visually-hidden");
                        });
                });
            });
        });
    </script>
</body>
</html>
