@model GigHub.ViewModels.GigsViewModel

@{
    ViewBag.Title = "Home Page";
}

<h1>@Model.Heading</h1>
@using (Html.BeginForm("Search", "Gigs"))
{
    <div class="input-group mb-3">
        @Html.TextBoxFor(m => m.SearchTerm, new { @class = "form-control" })
        <button type="submit" class="btn btn-light border">Search</button>
    </div>
}
<main>
    <ul class="gigs voffset">
        @foreach (var gig in Model.UpComingGigs)
        {
            <li>
                <div class="date">
                    <div class="month">@gig.Date.ToString("MMM")</div>
                    <div class="day">@gig.Date.ToString("d ")</div>
                </div>
                <div class="details">
                    <span class="artist">
                        <a href="@Url.Action("Details", "Gigs", new { id = gig.Id })">
                            @gig.Artist.Name
                        </a>
                        @if (gig.IsCanceled)
                        {
                            <span class="badge text-bg-warning">Canceled</span>
                        }
                        @if (Model.ShowActions)
                        {
                            <button class="btn btn-link btn-sm js-toggle-follow" data-user-id="@gig.ArtistId">Follow</button>
                        }
                    </span>
                    <span class="genre">@gig.Genre.Name</span>
                    @if (Model.ShowActions && !gig.IsCanceled)
                    {
                        <button data-gig-id="@gig.Id"
                                type="button"
                                class="btn @(Model.Attendances.Contains(gig.Id) ? "btn-info" : "btn-light") btn-sm border js-toggle-attendance">
                            @(Model.Attendances.Contains(gig.Id) ? "Going" : "Going?")
                        </button>

                    }
                </div>
            </li>
        }
    </ul>
</main>

@section scripts {
    <script>
        $(document).ready(function () {
            $(".js-toggle-attendance").click(function (e) {
                var button = $(e.target);
                if (button.hasClass("btn-light")) {
                    $.post("api/attendances", { "": button.attr("data-gig-id") })
                        .done(function () {
                            button.removeClass("btn-light")
                                .addClass("btn-info")
                                .text("Going");
                        }).fail(function () {
                            alert("Something failed");
                        });
                } else {
                    $.ajax({
                        url: "api/attendances/" + button.attr("data-gig-id"),
                        method: "DELETE"
                    }).done(function () {
                        button.removeClass("btn-info")
                            .addClass("btn-light")
                            .text("Going?");
                    }).fail(function () {
                        alert("Something failed");
                    });
                }
            });

            $(".js-toggle-follow").click(function (e) {
                var button = $(e.target);
                $.post("api/followings", { followeeId: button.attr("data-user-id") })
                    .done(function () {
                        button.text("Following");
                    }).fail(function () {
                        alert("Something failed!");
                    });
            });
        });


    </script>
}